body{
    background: #fff;
    font-size: 14px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,"Segoe UI","Segoe WP","Microsoft YaHei";
    -webkit-font-smoothing: antialiased;
}
/*navigation bar*/
.navbar-jn {
    background-color: #292a34;
    border-radius: 0px;
    border: 0px;
    margin-bottom: 0px;
}
.container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse{
    margin-right: 20px;
}
.navbar-right{
    margin-right: 0px;
}

.navbar-brand-jn {
	float: left;
    height: 50px;
    padding: 7px 15px 7px 0px;
    font-size: 22px;
    line-height: 36px;
    color:#eee;
    letter-spacing: 3px;
}
.navbar-brand-jn>span {
	color: #1edb42;
}
.navbar-brand-jn:hover,
.navbar-brand-jn:focus {
    color: #eee;
    text-decoration: none;
}
.nav>li>a{
    color:#eee;
}
.nav>li>a:hover, .nav>li>a:focus,.nav>.active,.nav>.active>a{
    text-decoration: none;
    background-color: #eee;
    color:#1fda46;
}

.btn{   
    border-width: 0px;
}
.navbar-right-jn #login-btn{
    background: #1fda46;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-right-jn #login-btn:hover,
.navbar-right-jn #login-btn:focus{
    color:#eee;
    background-color: #00b600;
}

.navbar-right-jn{
    vertical-align: middle;
}

.stats{
    height: 410px;
    display: table-cell;
    vertical-align: middle;
}

.stats #intro{
    line-height: 2;
}

/*China map area*/
.stripe{
    background-color: #dbeded;
}

#map-info{
    padding: 100px 0px;
}
#map-info table{
    background-color: white;
    max-width: 340px;
    margin:auto;
}

#map-info .items-even{
    background-color: #f2f7f7;
}

#map-info .items-final{
    background-color: #00cccd;
}

/*debt list*/
.items{
    margin-top: 35px;
    margin-bottom: 35px;
}


.items #item-btn{
    padding-left: 120px;
    padding-right: 120px;
    background-color: #00cccd;
    margin-top: 25px;
}

.items thead{
    font-size:16px;
    font-weight: bold;
}

.items .table>thead>tr>th,
.items .table>tbody>tr>th,
.items .table>tfoot>tr>th,
.items .table>thead>tr>td,
.items .table>tbody>tr>td,
.items .table>tfoot>tr>td {
    padding: 25px;
    vertical-align: middle;
    text-align: center;
    border-top: 1px solid #ddd;
}

/*lawyers info*/
.lawyers{
    padding-top:45px;
    min-height: 480px;
}
.lawyers>h3{
    margin-bottom: 20px;
}
.lawyers>p{
    margin-bottom: 45px;
}
.lawyers>ul a{
    color: #333;
    text-decoration: none;
}
.lawyers>ul>li{
    padding-left: 40px;
    padding-right: 40px;
}
.img-circle + p+p{
    font-size:12px;
}
.img-circle + p{
    margin-top: 14px;
    font-size: 16px;
}
#lawyer-btn{
    padding-left: 120px;
    padding-right: 120px;
    background-color: transparent;
    margin-top: 25px;
    margin-bottom: 50px;
    border:1px solid #777;
    color:#777;
}


/*IE6-IE8 respond*/
@media screen and (max-width: 480px){
    body{
        background: blue;
    }
}

/*footer*/
.ft-bright,
.ft-dark{
    min-height:80px;
}
.ft-bright{
    background-color:#fff;
    color:#333;
}
.ft-dark{
    background-color:#292a34;
    color:#eee;
}
.ft-dark li:first-child,
.ft-bright li:first-child{
    border-left: 0px;
}
.ft-bright li{
    border-left: 1px solid #333;
}
.ft-dark li{
    border-left: 1px solid #eee;
}

.contact{
    padding-top: 25px;
}
.ft-bright>.contact a{
    color:#333;
}
.ft-dark>.contact a{
    color:#eee;
}
.copyright{
    font-size: 10px;
}