body{
    background: #bfbfbf;
}

a {
    font-family: "Open Sans","Helvetica Neue",Helvetica,"Segoe UI","Segoe WP","Microsoft YaHei";
    -webkit-font-smoothing: antialiased;
}
.navbar-jn {
    background-color: #292a34;
    border-radius: 0px;
    border: 0px;
    margin-bottom: 0px;
}
.container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse{
    margin-right: 20px;
    margin-left: -15px;
}

.navbar-brand-jn {
	float: left;
    height: 50px;
    padding: 7px 15px 7px 0px;
    font-size: 22px;
    line-height: 36px;
    color:#eee;
}
.navbar-brand-jn>span {
	color: #1edb42;
}
.navbar-brand-jn:hover,
.navbar-brand-jn:focus {
    color: #eee;
    text-decoration: none;
}
.nav>li>a{
    color:#eee;
}
.nav>li>a:hover, .nav>li>a:focus,.nav>.active,.nav>.active>a{
    text-decoration: none;
    background-color: #eee;
    color:#2a6496;
}

.navbar-right-jn #login-btn{
    background: #1fda46;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-right-jn{
    vertical-align: middle;
}

#wrapper{
    background: white;
}

.stats{
    height: 410px;
    display: table-cell;
    vertical-align: middle;
}

.stats #intro{
    font-size: 16px;
    line-height: 2;
}

/*China map area*/
.china-map{
    background-color: #dbeded;
}

#map-info table{
    background-color: white;
}

#map-info .items-even{
    background-color: #f2f7f7;
}

#map-info .items-final{
    background-color: #00cccd;
}

/*zhaiquan list*/
.items{
    min-height: 450px;
}


.items #item-btn{
    padding-left: 30px;
    padding-right: 30px;
    background-color: #00cccd;
}


.lawyers{
    background-color: #e9f1f1;
    min-height: 480px;
}

/*IE6-IE8 respond*/
@media screen and (max-width: 480px){
    body{
        background: blue;
    }
}

/*底部样式*/
.ft-bright,
.ft-dark{
    min-height:80px;
}
.ft-bright{
    background-color:#fff;
    color:#333;
}
.ft-dark{
    background-color:#292a34;
    color:#eee;
}
.ft-dark li:first-child,
.ft-bright li:first-child{
    border-left: 0px;
}
.ft-bright li{
    border-left: 1px solid #333;
}
.ft-dark li{
    border-left: 1px solid #eee;
}

.contact{
    padding-top: 20px;
}
.ft-bright>.contact a{
    color:#333;
}
.ft-dark>.contact a{
    color:#eee;
}
.copyright{
    font-size: 10px;
}