/*style for debt related pages*/


/*table style*/
.debtcenter-table td{
    padding: 20px 0px 20px 0px !important;
}

.debtcenter-table a{
    color: #2fd5d6;
}

.cityfilter{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.cityfilter1{
    margin-top: 20px;
    margin-bottom: 10px;
}

.cityNameWrap{
    float:left;
    margin-right: 20px
}

.cityName{
    max-width: 100px;
}

.debt-items .form-control{
    float: left;
    width:auto;
}

.debtcenter-nav{
    background-color: #f3f7f8;
}

.debtcenter-nav>li{
    display: inline-block;
}

.debtcenter-nav>li>a,
.debtcenter-nav>li>a:hover,
.debtcenter-nav>li>a:focus,
.debtcenter-nav>.active,
.debtcenter-nav>.active>a{
    color: black;
    font-weight: normal;
    border: 0px solid #ddd;
    background-color: #f3f7f8;
    text-decoration: none;
}

.debtcenter-nav >li.active>a,.debtcenter-nav >li.active>a:hover{
    color: black;
    font-weight: bold;
    border: 0px solid #ddd;
    border-bottom: 2px solid #00cccd;
    background-color: #f3f7f8;
}

/*issue debt*/
.issuedebt{
    margin-top: 150px;
    margin-bottom: 30px;
}

.issuedebt span.star{
    color: #00CCCD;
    position: absolute;
    margin-left: -30px;
    line-height: 34px;
    font-size:20px;
}

.info-gly{
    position: relative !important;
    margin-left: 0 !important;
    line-height: 2 !important;
    color: #cbcfd0 !important;
}

.issuedebt .input-group-addon span.glyphicon{
    position: relative;
    margin-left: 0px;
    line-height: 1;

}

.info-header{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ebeff0;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.info-row{
    border: 1px solid #ebeff0;
    border-radius: 5px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    line-height: 2;
}

#proof{
    color: black;
    margin-left: 10px;
}


/*.issuedebt .file-input{*/
/*margin-left: 0px;*/
/*padding-right: 15px;*/
/*}*/

.issuedebt #submit-btn{
    background-color:#00CCCD;
    float: right;
    height: 34px;
    width: 93px;
    margin-top: 20px;
}

.issuedebt .control-label {
    text-align: left;
}

.issuedebt .btn-file{
    color: #fff;
    /*background-color: #00ccdd;*/
    background-color: #cdcfd0;
    /*border: 1px solid #00ccdd;*/
    border: 1px solid #bdbfbf;
}

.issuedebt #sub_btn{
    background-color: #00cccd;
}

.btn-debtnew{
    background-color: #00cccd;
    color: white;
}

.guarantee{
    margin-bottom: 20px;
}

/*.issuedebt .col-file-input{*/
/*height: 34px;*/
/*}*/

.issuedebt .sp-hr{
    padding-left: 5px;
    padding-right: 5px;
}

/*manage debt*/
#state-info{
    margin-top: 50px;
    width: 100%;
    height: 50px;
    background-color: #f3f7f8;
    border-bottom: 1px solid #eee;
}
#state-info h4{
    line-height: 50px;
    margin:0px;
}
.cityfilter select{
    width: auto;
}

.cityfilter1 select{
    width: auto;
}

.cleaner{
    padding-left: 0px !important;
}

/*.manage-debt-items{*/
    /*min-height:600px;*/
/*}*/

.manage-debt-items .form-control{
    size: auto;
}

.manage-debt-items .manage-item{
    border: solid 1px #00CCCD;
    border-radius: 4px;
    color: #00CCCD;
    padding: 5px;
}

.manage-debt-items .managedebt-table td{
    text-align: left;
    line-height: 3;
}

.manage-debt-items .manage-id{
    color: #00CCCD;
}

.audit-body{
    background-color: #f2f8f8;
}

.audit-style{
    min-height:600px;
}

.audit-style .description{
    margin-top: 20px;
    text-align: center;
    color: #585958;
}

#audit{
    text-align: center;
}

/*new layout for mobile phone*/
@media screen and (max-width: 768px) {
    .issuedebt {
        margin-top: 80px;
    }

    .cityNameWrap .input-group-addon{
        width: auto !important;
    }

    .debtcenter-table td {
        padding: 20px 5px 20px 5px !important;
    }
}