/*style for debt related pages*/


/*table style*/
.debtcenter-table td{
    padding: 20px !important;
}

.debtcenter-table a{
    color: #2fd5d6;
}

.cityfilter{
    margin-top: 20px;
    margin-bottom: 10px;
}

.cityName{
    line-height: 34px;
    color: #d4d6d6;
    float:left;
    padding-right: 20px
}

.form-control{
	float: left;
	width:auto;
}

.debtcenter-nav{
    background-color: #f3f7f8;
}

.debtcenter-nav>li{
    display: inline-block;
}

.debtcenter-nav>li>a,
.debtcenter-nav>li>a:hover,
.debtcenter-nav>li>a:focus,
.debtcenter-nav>.active,
.debtcenter-nav>.active>a{
    color: black;
    font-weight: normal;
    border: 0px solid #ddd;
    background-color: #f3f7f8;
    text-decoration: none;
}

.debtcenter-nav >li.active>a,.debtcenter-nav >li.active>a:hover{
    color: black;
    font-weight: bold;
    border: 0px solid #ddd;
    border-bottom: 2px solid #00cccd;
    background-color: #f3f7f8;
}

/*pagination*/
.pagination>li>a, .pagination>li>span {
    color: #aaa;
    background-color: transparent;
    border: 0px;
}
.pagination>li>a:hover,
.pagination>li>a:focus {
    color: #333;
}
.pagination>li>.active{
    color: #333;
}
.pagination>li>.prepage,
.pagination>li>.nextpage{
    background-color: #00cccd;
    border-radius: 4px;
    color:#eee;
    padding-left:20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
}