#myCarousel+.container{
	margin-top: 10px;
}
#myCarousel>div:first-child {
	position: absolute;
	text-align: center;
	top: 30%;
	left: 50%;
	width: 75%;
	margin-left: -37.5%;
	z-index: 50;
}

/*column title*/
h4{
	border-bottom: 1px solid #ddd;
	font-weight: normal;
	margin-top:15px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	font-size: 16px;
}
h4>small{
	color: #4bab00;
	margin-left: 20px;
}
h4>small>.glyphicon{
	margin-right:5px;
}
/*panel*/
.panel-group{
	margin-top: 10px
}
.panel {
	border: 0px solid #ddd;
	border-radius: 0px;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
	box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.panel-group .panel+.panel {
	margin-top: 0px;
}
.panel-group .panel {
	border-radius: 0px;
}
.panel-heading{
	padding:0px;
	margin:0px;
	border:0px;
	border-radius: 0px;
}
.panel-title>span{
	float: right;
	font-size: 14px;
	font-weight: 100;
}
.panel-group .panel-heading+.panel-collapse>.panel-body,
.panel-group .panel-heading+.panel-collapse>.list-group{
	padding:0px;
	border-top:0px;
}
.panel-body .state-headline{
	font-size: 15px;
	line-height: 42px;
	padding-left: 40px;
}

.panel-body>ul{
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 20px;
}
.panel-body li{
	padding-left: 13px;
}
.panel-body .state-table{
	padding-left: 27px;
	padding-top: 22px;
}
.panel-body .first-line>.state-table{
	border-left: 0px;
}

.panel-body .node-icon{
	position: absolute;
	width: 14px;
	height: 14px;
	margin-left: -34px;
	margin-top:7px;
	/*background-image:url('../img/debt/stateicon.png');*/
	background-image:url('../images/stateicon.png');
	background-repeat:no-repeat;
	z-index: 50;
}
.green-table{
	border-left:1px solid #4bab00;
}
.green-table>i{
	background-position: 0px 0px;
}
.grey-table{
	border-left:1px solid #ddd;
}
.grey-table>i{
	background-position: -17px 0px;
}

/*.odd-line{*/
/*background-color: white;*/
/*height: 50px;*/
/*line-height: 50px;*/
/*}*/

/*.even-line{*/
/*background-color: #F9F9F9;*/
/*height: 50px;*/
/*line-height: 50px;*/
/*}*/

.greyHead{
	background-color: #E5E5E5;
}

#right-interaction{
	margin-top: 10px;
}

.panel-body .green-list,
.panel-body .green-list .btn{
	color:#4bab00;
}
.panel-body span{
	display: inline-block;
}
.panel-body .state-time{
	width: 42%;
}
.panel-body .state-detail{
	width: 35%;
}

.panel-body .state-file{
	float: right;
	text-align: center;
	width: 80px;
}
.panel-body .state-file>.btn-default{
	margin-top:-6px;
}
/*upload form*/
#dtfile{
	padding:20px 0px;
}
#dtfile .control-label{
	text-align: left;
}
#dtfile table{
	border:0px;
	font-size:14px;
	margin-bottom: 0px;

}
#dtfile .table>thead>tr>th{
	font-weight: bold;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	border: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top:10px;
	padding-bottom: 10px;
	vertical-align: middle;
}
#dtfile .btn-grey{
	border:1px solid #ddd;
	margin-top: -6px;
}

/*Comment area*/
.debt-comment .btn-success{
	float: right;
	min-width: 80px;
}
.debt-comment .list-group-item{
	border-top:0px;
	border-left:0px;
	border-right: 0px;
	margin-bottom: 0px;
	padding:20px 0px;
}
.debt-comment select{
	min-width: 200px;
	width: 30%;
}
.img-circle{
	display: block;
	float: left;
	margin-right: 20px;
	vertical-align: top;
}
.comment-name{
	margin-top: 20px;
}
.comment-name>span{
	font-size: 16px;
	color:#00cccd;
	margin-right: 8px;
}
.com-time{
	position: absolute;
	right: 0;
}

/*info area*/
.btn-long{
	width: 100%;
	margin-bottom: 20px;
}
/*.btn-trans-interaction{*/
/*border: 1px solid #00cccd;*/
/*background-color: transparent;*/
/*color: #00cccd;*/
/*}*/

.btn-trans-default{
	border: 1px solid #d8d8d8;
	background-color: transparent;
	color: #585958;
}
.btn-trans-default:hover,
.btn-trans-default.focus {
	color: #eee;
	background-color: #00cccd;
}

.info-table>tbody>tr>th{
	font-size: 16px;
	font-weight:normal;
	color: #00cccd;
	vertical-align: middle;
}
.info-table>tbody>tr>td{
	text-align: right;
	font-size: 12px;
	line-height: 16px;
	vertical-align: middle;
}

#dtfile .topTable{
	margin-right: 0px;
	margin-left: 0px;
}

/*debttrack*/
.debttrack-comment{
	margin-top: 30px;
}

#track-state{
	width: 90% !important;
	margin: 0px auto;
}

@media screen and (min-width: 1500px){
	.steps>div:first-child{
		width: 60% !important;
		margin-left: -30% !important;
	}
}

.steps>div:first-child{
	top: 40% !important;
}

#currentmaterials a{
	border: 1px solid #d8d8d8;
}