nav+.container{
	margin-top: 80px;
}

/*column title*/
h4{
	border-bottom: 1px solid #ddd;
	font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px; 
}
h4>small{
	color: #fb1919;
	margin-left: 20px;
}
h4>small>.glyphicon{
	margin-right:5px;
}
/*panel*/
.panel-group{
	border: 1px solid #ddd;
	margin-top: 10px
}
.panel {
    border: 0px solid #ddd;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.panel-group .panel+.panel {
    margin-top: 0px;
}
.panel-group .panel {
    border-radius: 0px;
}
.panel-heading{
	padding:0px;
	margin:0px;
	background-color: #dbeded;
	border-radius: 0px;
}
.panel-title{
	font-size: 18px;
	padding-left: 20px;
}
.panel-body{
	padding:0px;
}
.panel-body .state-headline{
	font-size: 18px;
	background-color: #f9f9f9;
	border-bottom: 1px solid #ddd;
	line-height: 42px;
	padding-left: 80px;
}

.panel-body>ul{
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 20px;
}
.panel-body li{
	padding-left: 40px;
}
.panel-body .state-table{
	padding-left: 40px;
	padding-top: 22px;
}
.panel-body .first-line>.state-table{
	border-left: 0px;
}

.panel-body .node-icon{
	position: absolute;
	width: 14px;
    height: 14px;
    margin-left: -47px;
    margin-top:7px;
    background-image:url('../images/stateicon.png');
	background-repeat:no-repeat;
    z-index: 50;
}
.green-table{
	border-left:1px solid #4bab00;
}
.green-table>i{
	background-position: 0px 0px;
}
.grey-table{
	border-left:1px solid #ddd;
}
.grey-table>i{
	background-position: -17px 0px;
}
.panel-body .green-list,
.panel-body .green-list .btn{
	color:#4bab00;
}
.panel-body span{
	display: inline-block;
}
.panel-body .state-time{
	width: 42%;
}
.panel-body .state-detail{
	width: 35%;
}

.panel-body .state-file{
	float: right;
	text-align: center;
	margin-right: 20px;
	width: 80px;
}
.panel-body .state-file>.btn-default{
	margin-top:-6px;
}
/*upload form*/
#dtfile{
	padding:20px 20px;
}
#dtfile .control-label{
	text-align: left;
}
#dtfile table{
	border:0px;
	font-size:14px;
	margin-bottom: 0px;

}
#dtfile .table>thead>tr>th{
	font-weight: bold;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	border: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top:15px;
	padding-bottom: 15px;
}
#dtfile .btn-grey{
	border:1px solid #ddd;
	margin-top: -6px;
}

/*Comment area*/
.debt-comment .btn-success{
	float: right;
}
.debt-comment .list-group-item{
	border-top:0px;
	border-left:0px;
	border-right: 0px;
	margin-bottom: 0px;
	padding:20px 0px;
}
.img-circle{
	display: block;
	float: left;
	margin-right: 20px;
	vertical-align: top;
}
.comment-name{
	margin-top: 20px;
}
.comment-name>span{
	font-size: 16px;
	color:#00cccd;
	margin-right: 8px;
}
.com-time{
	position: absolute;
	right: 0;
}

/*info area*/
.btn-long{
	width: 100%;
	margin-bottom: 20px;
}
.btn-trans{
	margin-top: 20px;
}
.info-table>tbody>tr>th{
	font-size: 16px;
	font-weight:bold;
	color: #00cccd;
	vertical-align: middle;
}
.info-table>tbody>tr>td{
	text-align: right;
	font-size: 12px;
	line-height: 16px;
	vertical-align: middle;
}

#dtfile .topTable{
	margin-right: 0px;
	margin-left: 0px;
}

/*debttrack*/
.debttrack-comment{
	margin-top: 30px;
}