body{
    background-color: #f2f8f8;
}
/*.login{*/
    /*min-height:900px;*/
/*}*/

.login .login-form{
    background-color: #fff;
    border: 1px solid #eee;
    margin-top: 150px;
    border-radius: 5px;
}

.login-form .top-title{
    border-bottom: 1px solid #eee;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: normal;
    font-size: 120%;
}

.login-form .below-content{
    padding-top: 20px;
}

.login-form .below-content .usernamecol{
    padding-right: 0px;
}

.login-form .below-content .authcodecol input{
    border-color: #d8d8d8 !important;
}

.login-form .below-content .othercol{
    padding-right: 10px;
}

.login-form button.login-btn{
    padding-left: 20px;
    padding-right: 20px;
}

.registerdebtor a{
    /*border: 1px solid #eee;*/
    /*border-radius: 5px;*/
    /*background-color: #FBFBFB;*/
}

.registerdebtor button.registerdebtor2-btn,
.registerlawyer button.registerlawyer-btn {
    padding-left: 20px;
    padding-right: 20px;
}

.registerdebtor .agree{
    padding-top: 0px;
    margin-bottom: 20px;
    font-size: 12px;
    text-align: right;
    padding-right: 0px;
    line-height: 1.7;
}

/*.registerlawyer span.glyphicon {*/
/*color: #00CCCD;*/
/*position: absolute;*/
/*margin-left: -30px;*/
/*line-height: 34px;*/
/*font-size:1px;*/
/*}*/

.registerlawyer span.star {
    color: #00CCCD;
    position: absolute;
    margin-left: -30px;
    line-height: 34px;
    font-size:20px;
}

/*.registerlawyer .file-input{*/
/*margin-left: 0px;*/
/*padding-right: 15px;*/
/*}*/

.registerlawyer .btn-file{
    color: #fff;
    /*background-color: #00ccdd;*/
    background-color: #cdcfd0;
    /*border: 1px solid #00ccdd;*/
    border: 1px solid #bdbfbf;
}

/*.registerlawyer .col-file-input{*/
/*height: 34px;*/
/*}*/

.registerlawyer #lawyerDiv{
    display: none;
}

.btn-success{
    background-color: #00ccdd;
}

/*new layout for mobile phone*/
@media screen and (max-width: 768px) {
    .authcodecol{
        margin-left: 5px;
    }
}