.select-roles-col .second-part{
    background: #F2F8F8;
    position: relative;
    padding-top: 55px;
    border-radius: 4px;
    z-index: 1;
}
.select-roles-col table{
    margin:0px auto;
    font-style: italic;
    font-size: 16px;
}

#myCarousel .select-roles-col img{
    position: relative;
    top:0px;
    margin-bottom: -45px;
    width: 90px;
    height: 90px;
    z-index: 2;
}

.select-roles .first-row{
    border-bottom: solid 1px #eee;
}

.select-roles  td{
    border-left: solid 1px #eee;
    padding: 20px;
}

.select-roles .first-column{
    border-left: solid 0px #eee;
}

.select-roles .btn{
    margin-top: 40px;
    margin-bottom: 30px;
    padding-left:20px;
    padding-right: 20px;
}
.btn-blue{
    color: #eee;
    background-color: #00cccd;
    /*border-color: 0px;   */
}
.btn-green{
    color: #eee;
    background-color: #1fda46;
    /*border-color: 0px;*/
}
